@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
   
}

header{
    width: auto;
    display: flex;
    justify-content: center;
    height: 60px;
    display: flex;
    background-color: #fff;
    
}

#titleCabecalho{
    margin-left: 39px;
    width: 178px;
    height: 119px;
    float: left;
    color: #000;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    padding: 16px;
}

#submenu{
    width: 100%;
    display: flex;
    margin-left: 35px;
    
}

span:hover{
    cursor: pointer;
    color: #808080;
    transition: 0.5s;
}

span{
    padding: 10px;
    margin-right: 10px;
    padding-top: 22px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 15px;
    position: relative;
    
}

.material-icons{
  position: absolute;
  padding-right: 779px;
  padding-top: 16px;
  opacity: 60%;
}

#icon-dow{
    position: absolute;
    padding-left: 2355px;
    padding-top: 17px;
    
}

.navigation{
    width: 90px;
    float: right;
    
}

.submenu-right{
    height: auto;
    width: 120px;
    padding: 21px;
    flex-direction: column;
    font-size: 0.9rem;
    cursor: pointer;
    
}

#explorar-option{
    margin-top: 20px;
    border: 0px;
    font-size: 0.9rem;
    padding-left: 180px;
}

.submenu-right-login{
    height: auto;
    width: 300px;
    padding: 21px;
    flex-direction: column;
    border-right: 1px solid rgba(223, 212, 212, 0.5);
    font-size: 0.9rem;
    cursor: pointer;
    padding-left: 120px;

}

.submenu-loading{
    height: 35px;
    width: 218px;
    background-color: #3fbf70;
    flex-direction: column;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 23px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    margin-right: 75px;
    margin-top: 12px;
    padding-left: 25px;
    font-weight: 600;
}

main{
    flex-grow: 1;
}

#banner{
    width: 100%;
    height: 515px;
    background-image: url(../imagens/bannerImagem2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 70px;
}

#title{
    height: 200px;
    padding-top: 69px;
    padding-left: 607px;
    line-height: 1.9;
}

input{
    height: auto;
    width: 43%;
    border-radius: 7px;
    border: 0px;
    font-size: 1.0rem;
    padding-left: 40px;
    background-image: url('../imagens/cabecalho.png');
}

#boxText{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
  
}

#subtitleInput{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    width: 2000px;
    font-weight: 200;
}

#subtitleInput2{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    font-size: 1.2em;
}


h1 {
    color: #fff;
    font-size: 2.0rem;
    font-weight: 600;
    text-shadow: black 0.1em 0.1em 0.4em;
    font-size: 2.2rem;
}

h2 {
    color: #fff;
    font-size: 0.9rem;
    padding-left: 39px;
    font-size: 1.0rem;
    font-weight: 300;
}

p{
    text-align: center;
}

.galeria-container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 15px;
}

.galeria-items{
    background-color: royalblue;
    width: 340px;
    height: 240px;
    flex-grow: 1;
    border: 10px solid #FFF;
    overflow: hidden;
}
.galeria-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all .5s linear;
}

.galeria-items img:hover{
    filter: grayscale(0%);
    transform: scale(130%);
}


footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }

}

.lista{
    height: 40px;
    width: 100px;
    text-align: center;
    color: #fff;
}

